In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
import joblib  # For saving the model

In [2]:
# Load the cleaned data
df = pd.read_csv("cleaned_dataset.csv")
print("Shape of dataset:", df.shape)
df.head()

Shape of dataset: (480, 14)

,gender,NationalITy,StageID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,4,2,7,0,0,15,16,2,20,1,1,1,0
1,1,4,2,7,0,0,20,20,3,25,1,1,1,0
2,1,4,2,7,0,0,10,7,0,30,0,0,0,0
3,1,4,2,7,0,0,30,25,5,35,0,0,0,0
4,1,4,2,7,0,0,40,50,12,50,0,0,0,0

In [3]:
# Split into input features and target
X = df.drop("Class", axis=1)
y = df["Class"]

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training samples:", X_train.shape[0])
print("Test samples:", X_test.shape[0])

Training samples: 384
Test samples: 96

In [4]:
# Create and train Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

print("✅ Model training complete")

✅ Model training complete

In [5]:
# Make predictions
y_pred = model.predict(X_test)

# Show evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.8958333333333334

Classification Report:
               precision    recall  f1-score   support

           0       0.91      0.96      0.93        74
           1       0.83      0.68      0.75        22

    accuracy                           0.90        96
   macro avg       0.87      0.82      0.84        96
weighted avg       0.89      0.90      0.89        96

In [6]:
# Save the trained model to a file
joblib.dump(model, "model.pkl")
print("✅ Trained model saved as 'model.pkl'")

✅ Trained model saved as 'model.pkl'